select{
    appearance: none;
    background: url('../assets/download.svg');
    background-position: 100%;
    background-repeat: no-repeat;
    border-radius: 3px;
    box-shadow: inset 0 -1px 1px hsl(0deg 0% 100% / 80%), inset 0 1px 1px #fff;
    box-sizing: border-box;
    color: #222;
    font: 9pt Segoe UI,sans-serif;
    padding: 2px 30px 2px 3px;
    position: relative;
}

.centre{
  margin: auto;
  width: 15%;
  font-size: 10px;
}

.selected {
  background-color: #f9e3be;
}

/* Page title */
/* ---------------------------------------------------------- */
.title-holder {
  background-color: #c81313;    
  text-align: left;
}
.table-holder {
  background-color: white;
  border-radius: 5px;
  margin-right: 50%;
  margin-left: 10px;
}
.list-title {
  margin-left: 10px;
  font-size: 13px;
  color: white;
  font-family: 'Times New Roman', Times, serif;

}
/* ---------------------------------------------------------- */


/* Table styles */
/* ---------------------------------------------------------- */
.mat-table {
  width: 100%;
}

.float-right {
  float: right;
}
/* ---------------------------------------------------------- */

/* Header styles */
/* ---------------------------------------------------------- */
.mat-header-cell {
  background-color: #e8e7ec;
  color: #2d2d2d;
  font-weight: bold;
}
.mat-header-cell:not(:first-child) {
  padding-left: 0;
}

/* Style just the text in the header */
.mat-header-cell span {
  font-weight: 600;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
}
/* Round the top table corners */
.mat-header-cell:first-child {
  border-top-left-radius: 5px;
}
.mat-header-cell:last-child {
  border-top-right-radius: 5px;
}

.mat-header-row {
  height: 3em;
}

.btn-icon {
  height: 17px;
  width: 17px;
  background-color: #393939;
  border: none;
}

.sort-icon {
  height: 17px;
  width: 17px;
  color: white;
}

::ng-deep .mat-sort-header-arrow {
  position: relative;
  left: -1.5rem;
  display: none!important;
  opacity: 0;
}

.header {
  padding: 5px;
}


/* ---------------------------------------------------------- */


/* Column styles */
/* ---------------------------------------------------------- */
.type-column {
  width: 15%;
  padding-right: 3rem;
  padding-top: 0px;
  padding-bottom: 0px;
}
.name-column {
  width: 30%;
  padding-right: 3rem;
  padding-top: 0px;
  padding-bottom: 0px;
}
.amount-column {
  width: 15%;
  padding-right: 3rem;
  padding-top: 0px;
  padding-bottom: 0px;
}
.status-column {
  width: 15%;
  padding-right: 3rem;
  padding-top: 0px;
  padding-bottom: 0px;
}
.date-column {
  width: 20%;
  padding-right: 3rem;
  padding-top: 0px;
  padding-bottom: 0px;
}
.state-column {
  width: 5%;
}
/* ---------------------------------------------------------- */


/* ---------------------------------------------------------- */

/* Cell styles */
/* ---------------------------------------------------------- */
.state-cell {
  text-align: right;
}
.mat-cell {
  border-color: #efefef;
  border-width: 2px;
  cursor: pointer;
}

.green-svg {
  fill: #6dd400;
}
.gray-svg {
  fill: #b2b4b6;
}

tr.mat-row, tr.mat-footer-row {
  height: 30px;
}

/* Styles for Div Element in dropdown ...............................*/

.dropbtn {
  appearance: none;
  background: url('../assets/download.svg');
  background-position: 100%;
  background-repeat: no-repeat;
  background-color: #e6e6e6;
  border: 1.5px solid #e6e6e6;
  border-radius: 3px;
  box-shadow: inset 0 -1px 1px hsl(0deg 0% 100% / 80%), inset 0 1px 1px #fff;
  box-sizing: border-box;
  color: #222;
  font: 9pt Segoe UI,sans-serif;
  padding: 2px 30px 2px 3px;
  position: relative;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e6e6e6;
  min-width: 155px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 0px 16px;
  text-decoration: none;
  display: block;
  font-size: 10px;
}

.checkbox{
  color: black;
  padding: 0px 16px;
  text-decoration: none;
  display: block;
  font-size: 10px;
}


.dropdown:hover .dropdown-content {
  display: block;
}
