// -----------------------------------------------------------------------------
// This file contains default theme color variables 
// -----------------------------------------------------------------------------
$color-tangerine: #e3e0cf;
$color-yellow: #65300b;
$color-celurean: #49c5b6;
$color-aluminium: #f4f7f6;
